header{
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 5;
    height: 70px;
    width: 960px;
    margin-bottom: 30px;

}

#banner{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 4;
    width: 100%;
    height: 70px;
    border-bottom-color: slategrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}

h1{
    line-height: 70px;
}

#alex{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 26px;
    font-weight: bold;
    height: 100%;
    float: left;
    display: block;
    text-align: center;
    background-color: #4aaaa5;
    padding-left: 30px;
    padding-right: 30px;
}

#nav{
    float: right;
    display: inline;
    line-height: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
}

.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: bold;
    color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 15px;
}

hr{
    border-style: solid;
    border-color: lightgray;
    border-top-width: 1px;
    border-bottom-width: 2px;
}

li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    color: #777777;
    text-decoration: none;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.content{
    position: relative;
    z-index: 2;
    top: 105px;
    width: 900px;
    margin: auto;
    font-size: 16px;
    color: #777777;
    background-color: white;
    padding: 30px;
}

form{
    width: 100%;
}

#name{
    height: 40px;
    line-height: 50px;
}

#email{
    height: 40px;
    line-height: 50px;
}

#message{
    height: 40px;
    line-height: 50px;
}

input{
    /* padding-left: 5px;
    padding-right: 5px; */
    width: 100%;
    height: 25px;
}

textarea{
    width: 100%;
    height: 150px;
}

button{
    margin-top: 20px;
    background-color: #4aaaa5;
    color: white;
    height: 35px;
    width: 100px;
    border: none;
}

footer{
    position: absolute;
    z-index: 2;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top-color: #4aaaa5;
    border-top-width: 6px;
    border-top-style: solid;
    text-align: center;
    margin: auto;
    background-color: #666666;
    line-height: 95px
}

html{
    height: 150%;
    width: 100%;
}

body{
    position: absolute;
    z-index: 0;
    height:150%;
    width: 100%;
}
#background{
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
}

#headshot{
    margin-top: 20px;
    margin-right: 25px;
    float: left;
}

.about{
    position: relative;
    top: 10px;
    margin-bottom: 10px;
    line-height: 2;
}

.pic{
    margin: 10px;
}

td{
    position: relative;
    height: 0px;
}

.label{
    position: relative;
    z-index: 3;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    bottom: 90px;
    margin-bottom: -90px;
    background-color: #4aaaa5;
    color: white;
    height: 60px;
    font-size: 24px;
    line-height: 58px;
}